@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url("static/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background-space {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.object {
    position: absolute;
    width: 100px;
    animation: fly linear forwards;
}

@keyframes fly {
    from{
        transform: translateX(-150px);
    }
    to {
        transform: translateX(110vw);
    }
}

.container {
    background: rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    width: 400px;
    height: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    animation: glowPulse 1.5s infinite alternate;
}


@keyframes glowPulse {
    to {
        box-shadow: 0 0 520px rgba(246, 255, 0, 0.05), 0 0 40px rgba(246, 255, 0, 0.05);
    }
}

#imgRocket {
    width: 150px;
}

#register {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.container h1{
    color: white;
    margin: -25px;
    font-size: 20px;
}

#register input{
    width: 300px;
    height: 40px;
    background: none;
    border: 2px solid white;
    outline: none;
    transition: all 0.3s ease-in-out;
    color: white;
}

#register input:hover{
    box-shadow: rgba(255, 255, 255, 0.4) 2px 2px, rgba(160, 160, 160, 0.3) 4px 4px, rgba(93, 93, 93, 0.3) 6px 6px;
}

#register input::placeholder{
    color: rgba(255, 255, 255, 0.643);
}

.inputToInput {
    padding-left: 10px;
    font-size: 15px;
}

#buttonInput{
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
}

#ForgotPassword {
    margin-top: -10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
}