<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/home.css">
    <title>Home</title>
</head>
<body>
    <div class="nav-bar">
        <img id="logo" src="static/images/rocket.gif" alt="">
        <div class="inputs">
        <input id="inputFinder" type="text" placeholder="Find your next rocket ">
        <input id="buttonFinder" type="button" value="Search">
        </div>
        <div class="lightAndLogout">
            <h1>Logout</h1>
            <div id="turnLightOver"><img src="static/images/moon.svg" alt=""></div>
        </div>
    </div>
    <h1>Olá, {{current_user.nome}}</h1>
    <div class="container-products">
        <ul id="products">
            <li class="list-product"></li>
            <li class="list-product"></li>
            <li class="list-product"></li>
            <li class="list-product"></li>
        </ul>
    </div>
    
</body>
</html>