<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Site</title>
</head>
<body>
    <div class="background-space"></div>
    <div class="container">
        <img id="imgRocket" src="{{ url_for('static', filename='images/rocket.gif') }}" alt="">
        <h1>Welcome again!</h1>
        <form id="login" action="/login" method="post">
        <input class="inputToInput" name="nomeForm" placeholder="Username" type="text"><br>
        <input class="inputToInput" name="senhaForm" placeholder="Password" type="password"><br>
            <input id="buttonInput" type="submit" value="Login">
        </form>
        <form action="{{url_for('registrar')}}" method="GET">
            <button id="SignUpButton" type='submit'>Sign Up</button>
        </form>
    </div>
    <script src="static/script.js"></script>
</body>
</html>